<link href="/css/gallery.css" rel="stylesheet" type="text/css">
<link href="/css/theme.css" rel="stylesheet" type="text/css">
<div class="breadcrumb">
<% for (var i=0; i<breadcrumb.length; i++) { %>
  <% if (i==breadcrumb.length-1){ %>
    <%= breadcrumb[i].name %>
  <% }else{ %>
    <a href="/<%= breadcrumb[i].url %>"> <%= breadcrumb[i].name %> &raquo; </a>
  <% } %>

<% } %>
</div>

<h1 class="title"><%= name %></h1>

<div class="image"><img src="/<%= src %>?tn=0" alt="<%= name%>"></div>

<span class="caption"><% if (exif && exif.Description){ %>
<%= exif.Description%>
<% }else{ %>
<%= name%>
<% } %></span>


<% if (exif){ %>
<section class="info">
  <h2>Info</h2>
  <table>
    <% for (var key in exif){ %>
    <% if (key!="Description"){ %>
    <tr>
      <td>
        <%= key %>
      </td>
      <td>
        <%= exif[key] %>
      </td>
    </tr>
    <% } %>
    <% } %>
  </table>
</section>
<% } %>
